{% load static %}
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} Base Page {% endblock %} - Local MPR - Ghana</title>
    <link rel="stylesheet" href="{% static "css/foundation.css"%}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/scrollbar.css"%}">
    <script src="{% static "js/vendor/modernizr.js"%}"></script>
  </head>
  <body>

  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name middle">
        <h1><a href="/">LocalMPR - Ghana</a></h1>
        <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
      </li>
      
    </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="has-dropdown">
        <a href="#">More</a>
        <ul class="dropdown">
          <li><a href="javascript:void(0)" data-reveal-id="about" data-reveal>About</a></li>
          <li><a href="javascript:void(0)" data-reveal-id="contribute" data-reveal>Contribute</a></li>
        </ul>
      </li>
    </ul>
  </nav>
<hr>
<form action="/result/">
    <div class="small-12 columns">
      <div class="row collapse">
        <div class="small-9 columns">
          <input type="text" id="q" name="q" placeholder="Search" />
        </div>
        <div class="small-3 columns">
          <input type="submit" class="button postfix">
        </div>
      </div>
    </div>
  </form>
  {% block search %}

{% endblock %}
<hr>
<div class="panel">
  <div class="row"> 
    <div class="small-9 columns small-centered">
    <h5> What is this all about? </h5>
    <p> Did you know that medicine prices are regulated in Ghana? Using this application you can:
    <ul>
      <li>Know what to expect to pay when you get a prescription from your doctor</li>
      <li>Find possible generics for a branded medicine. Ask your doctor if these medicines are viable alternatives.</li>
      <li>Ensure that you are not being overcharged for your medicine.</li>
    </ul>
      </p>
  </div>
  </div>
</div>

<!-- Data Reveals -->
<div id="about" class="reveal-modal" data-reveal>
  <h2>About LocalMPR</h2>
  <p class="lead">Medicine Price Registry in Ghana</p>
  <p>Explanation goes here</p>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="contribute" class="reveal-modal" data-reveal>
  <h2>Contribute</h2>
  <p class="lead">Code is hosted on Github</p>
  <p><a href="http://github.com/seanmavley/LocalMPR" target="new">Fork the repo</a> and set the ball rolling.</p>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="contribute" class="reveal-modal" data-reveal>
  <h2>Contribute</h2>
  <p class="lead">Code is hosted on Github</p>
  <p><a href="http://github.com/seanmavley/LocalMPR" target="new">Fork the repo</a> and set the ball rolling.</p>
  <a class="close-reveal-modal">&#215;</a>
</div>
<!-- end Data Reveals -->

    <script src="{% static "js/vendor/jquery.js"%}"></script>
    <script src="{% static "js/foundation.min.js"%}"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
