{% extends "base.html" %}
{% block title %} Results page {% endblock %}

{% block search %}
<div class="row">
  <div class="small-12 columns">	
    <dl class="accordion" data-accordion>
    {% if query %}
      {% if results %}
        {% for l in results %}
        <dd>
            <a href="#{{l.name}}">{{l.name|capfirst}}</a>
            <div id="{{l.name}}" class="content">
              <table>
                <thead>
                  <tr>
                    <th width="200">Value</th>
                    <th width="730">Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Name of Drug</td>
                    <td>{{l.name}}</td>
                  </tr>
                  <tr>
                    <td>Maximum Price</td>
                    <td>{{l.max_price}}</td>
                  </tr>
                  <tr>
                    <td>Schedule</td>
                    <td>{{l.sch}}</td>
                  </tr>
                  <tr>
                    <td>Dosage</td>
                    <td>{{l.dosage}}</td>
                  </tr>
                  <tr>
                    <td>Pack Quantity</td>
                    <td>{{l.pack_quantity}}</td>
                  </tr>
                  <tr>
                    <td>Generic</td>
                    <td>{{l.generic}}</td>
                  </tr>
                  <tr>
                    <td>Ingredients</td>
                    <td>{{l.ingredients}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </dd>
      {% endfor %}
      {% else %}
        <div data-alert class="alert-box info radius">
          Your search had no results in our system. Please search for something else
          <a href="#" class="close">&times;</a>
        </div>
      {% endif %}
    {% endif %}
    </dl>
  </div>
</div>

{% endblock %}

{% block bodybottom %}

{% endblock %}